@charset "utf-8";

#wrap{width: 100%; height: auto; overflow: hidden; background: #6b6b6b; 
    color: #e2e2e2; font-size: 20px; font-family: 'Bricolage Grotesque', sans-serif;
}


header{position:fixed; left:0; top:0; width: 100%; 
    height: 90px;
    background-color: #6b6b6b; 
    display: flex; justify-content: center; 
    align-items: center; border-bottom: 1px solid #e2e2e2; z-index: 10;
}
#menu {width: 1280px; height: 100%; display: flex; justify-content: space-between; 
    align-items: center;}
#menu h1 {font-size: 2.5rem; }
#menu> ul {display: flex; width: 50%; justify-content: space-between;}
#menu > ul > li {display: block; height: 100%; text-align: center; width: 25%;}
#menu > ul > li > a {padding: 20px 10px; display:inline-block; font-size: 1rem; 
}

#menu .fil{width: 100%; display: none; border-top: 3px solid #333; position: absolute;
    z-index: 15;
}
.fil > li{width: 100%; background: #e2e2e2; text-align: center; line-height: 40px;}
.fil > li > a{width: 100%; color: #6b6b6b; display:inline-block; font-size: 1rem;}
.fil > li > a:hover{background: #aaa; color: #fff;}

#menu ul li .circle{ background: #e2e2e2; width: 5px; height: 5px;
    display: inline-block; border-radius: 5px; margin-bottom: 2px; opacity: 0;
}
#menu ul li .active {opacity: 1;} 

#menu .type{background: transparent; border: 1px solid #e2e2e2;  
    padding: 7px 0px 7px 30px; border-radius: 20px; background: url(../img/search_col.png); 
    background-position: 8px 50%; font-size: 1.3vh;
    background-size: 15px; background-repeat: no-repeat; color: #e2e2e2;
}
#menu .type:focus{outline: none;}
#menu .search{background: #e2e2e2; color: #6b6b6b; padding: 7px 10px; 
    border-radius: 20px; border: none; font-size: 1rem;}
#menu .search:hover{cursor: pointer;}




#contents {width: 1280px; margin: 0 auto; position: relative; }



#section1 {height: auto; margin: 0 auto; padding: 150px 0 0 0;}

#section1 #full{width: 100%; display: flex; justify-content: center;}
#full p{font-size: 10rem;}

#full p:first-child{transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(2){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(3){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(4){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(5){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(6){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(7){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}

#full p:nth-child(8){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(9){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(10){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(11){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(12){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(13){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}

#full p:nth-child(14){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(15){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(16){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(17){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:nth-child(18){transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}
#full p:last-child{transform: translateY(100px); transition: all 1.5s ease-in-out; 
    opacity: 0;
}

#section1 #at{width: 100%; height: auto; display: flex; flex-wrap: wrap; 
    margin-top: 50px; 
}

#at #about{width: 100%; opacity: 0; transition: all 3s;
    transform: translateX(-200px);
}
#about p{font-size: 1.5rem; font-family: 'IBM Plex Sans KR', sans-serif;}

#at #imgbox{width: 100%; margin-top: 50px; opacity: 0; transition: all 3s;
    transform: translateX(-200px);
}
#imgbox .line{width: 100%; display: flex; align-items: center; 
    justify-content: space-between; margin-bottom: 10px;}
.line> span:nth-of-type(2){width: 90%; height: 2px; background-color: #e2e2e2;}
#imgbox img{width: 100%; height: auto;}





#section2 {height: auto; margin: 0 auto; padding-top: 100px;}

#section2 #title{width: 100%; display: flex; flex-wrap: wrap;}

#title .line2{width: 100%; display: flex; align-items: center; margin-bottom: 40px;
    justify-content: space-between;}
#title h1{font-size: 2.5rem; width: 20%;}
.line2 > span{width: 90%; background: #e2e2e2; height: 2px; display: inline-block;}

#title #change{width: 20%; display: flex; justify-content: space-between;}
#change p{border: 1px solid #e2e2e2; padding: 3px 10px 5px; border-radius: 15px; font-size: 1.1rem;}
#change p:hover{cursor: pointer; background: #777777;}

#title #changecon{width: 100%; height: auto; margin-top: 30px; }

#changecon #st{display: none; width: 100%; }
#st p{font-size: 0.9rem; width: 77%; float: left; font-family: 'IBM Plex Sans KR', sans-serif;} 
#st p> span{width: 100%; display: inline-block; background: #e2e2e2; height: 2px;
    margin-top: 87px;
}
#st .stimg{width: 22%; float: right; padding: 0px 0px 20px; background: #e2e2e2; filter: grayscale(90%);
}
#st .stimg:hover{filter: grayscale(0%); cursor: pointer; transition: all .7s;}
.stimg img{width: 100%; height: auto;}
/* .stimg .msc{width: 20px; height: 20px; background: #777777; position: absolute;
    border-radius: 10px; opacity: 0; transition: all .3s ease; z-index: 3;
} */

#sy{display: none; width: 100%;}
#sy p{font-size: 1rem; width: 98%; font-family: 'IBM Plex Sans KR', sans-serif;}
#sy .syimg{width: 100%; display: flex; justify-content: space-between; flex-direction: row-reverse;
    margin-top: 20px; position: absolute; 
}
.syimg img{width: 35%; height: auto; padding: 0px 0px 20px; background: #e2e2e2; 
    filter: grayscale(90%);}
.syimg img:hover{filter: grayscale(0%); cursor: pointer; transition: all .7s;}
.syimg> span{width: 64%; background: #e2e2e2; height: 2px; display: inline-block;
    align-self: flex-end;
}

#cha{display: block; width: 100%;}
#cha p{font-size: 1rem; width: 98%; font-family: 'IBM Plex Sans KR', sans-serif;}
#cha .chaimg{width: 100%; display: flex; justify-content: space-between;
    margin-top: 20px; position: absolute; 
}
.chaimg img{width: 40%; height: auto; padding: 0px 0px 20px; background: #e2e2e2; 
    filter: grayscale(90%); transition: all .7s;}
.chaimg img:hover{filter: grayscale(0%); cursor: pointer;}
.chaimg> span{width: 59%; background: #e2e2e2; height: 2px; display: inline-block;
    align-self: flex-end;
}





#section3 {height: auto; margin: 600px auto 300px;}
#section3 .line3{width: 100%; display: flex; align-items: center; margin-bottom: 100px;
    justify-content: space-between;}
.line3 h1{font-size: 2.5rem; width: 18%;}
.line3 p{width: 35%; height: 2px; background: #e2e2e2;}


#section3 #vincent{width: 100%; height: auto; display: flex; justify-content: space-between;
    flex-wrap: wrap;
}
#vincent> h1{font-size: 10rem;}
#vincent> h1 small{font-size: 4rem;}
#vincent> p{width: 100%; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}

#vincent div:first-of-type{margin-top: 50px; width: 30%; height: auto; opacity: 0;
    transform: translateX(-200px); transition: all 2s;}
#vincent div:first-of-type img{width: 100%;}

#vincent div:nth-of-type(2){margin-top: 100px; width: 15%; height: auto; opacity: 0;
    transform: translateY(200px); transition: all 2s;} 
#vincent div:nth-of-type(2) img{width: 100%; height: auto;}

#vincent div:nth-of-type(3){width: 35%; height: auto; opacity: 0;
    transform: translateX(200px); transition: all 2s;}
#vincent div:nth-of-type(3) img{width: 100%; height: auto;}



#section3 #beetleJuice{width: 100%; height: auto; margin-top: 150px;
}
#beetleJuice> h1{font-size: 10rem; text-align: right;}
#beetleJuice> h1 small{font-size: 4rem;}
#beetleJuice> p{width: 70%; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}

#beetleJuice> #synopsis{width: 100%; margin-top: 50px; display: flex; flex-wrap: wrap;
    justify-content: space-between; font-size: 1rem;
}

#synopsis .synopsistxt{width: 75%;}
#synopsis h3{font-size: 7vh; margin-bottom: 20px; width: 100%;}
#synopsis p{width: 100%; font-family: 'IBM Plex Sans KR', sans-serif;}

#synopsis .bit{width: 23%; position: relative; overflow: hidden; height: 80%; margin-top: 40px;
    border-radius: 15px;
}
.bit img{width: 100%; height: auto; filter: grayscale(80%); border-radius: 15px;}

.cover{position: absolute; bottom: 0; left: 0; z-index: 3; width: 100%; height: 0%; 
    background-color: #fff; transition: height 1.5s ease-in-out; opacity: 0.7;}
.cover p{color: #030303; padding: 15px; font-size: 0.8rem; font-family: 'IBM Plex Sans KR', sans-serif;} 
.bit .cover p:nth-of-type(1){text-align: center; font-size: 1rem;}
.bit:hover .cover{height: 100%; cursor: pointer;}
.bit:hover img{ filter: grayscale(0%);}


#beetleJuice> .btimg{width: 100%; display: flex; justify-content: space-between; align-content: center;}

.btimg .adam{width: 30%; margin-top: 40px; position: relative; overflow: hidden; height: auto;
    border-radius: 15px;
}
.adam img{width: 100%; height: auto; filter: grayscale(80%); border-radius: 15px;
    /* transform: translateY(0%); transition: all .3s ease-in-out; */
}
.adam:hover .cover{height: 100%; cursor: pointer;}
.adam:hover img{ filter: grayscale(0%);
    /* transform: translateY(-100%); */
}
.adam .cover p:nth-of-type(1){text-align: center; font-size: 1.6vh; 
    font-family: 'IBM Plex Sans KR', sans-serif;}

.btimg .lidia{width: 35%; height: 70%; margin-top: 40px; position: relative; overflow: hidden;
    border-radius: 15px;
}
.lidia img{width: 100%; height: auto; filter: grayscale(80%); border-radius: 15px; }
.lidia:hover .cover{height: 100%; cursor: pointer;}
.lidia:hover img{ filter: grayscale(0%);}
.lidia .cover p:nth-of-type(1){text-align: center; font-size: 1.6vh;
    font-family: 'IBM Plex Sans KR', sans-serif; }

.btimg .charles{width: 25%; height: auto; margin-top: -40px; position: relative; overflow: hidden;
    border-radius: 15px;
}
.charles img{width: 100%; height: auto; filter: grayscale(80%); border-radius: 15px; }
.charles:hover .cover{height: 100%; cursor: pointer;}
.charles:hover img{ filter: grayscale(0%); }
.charles .cover p:nth-of-type(1),.charles .cover p:nth-of-type(3){text-align: center; font-size: 1.6vh;
    font-family: 'IBM Plex Sans KR', sans-serif;}



#section3 #scissor{width: 100%; height: auto; margin-top: 150px;
}
#scissor> h1{font-size: 9rem; }
#scissor> h1 small{font-size: 4rem;}
#scissor> p{width: 81%; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}

#scissor> #synopsis2{width: 100%; margin-top: 50px; display: flex; flex-wrap: wrap;
    justify-content: space-between; font-size: 1rem;
}
#synopsis2 img{width: 37%; height: auto; filter: grayscale(90%); transition: all 1s;}
#synopsis2 img:hover{filter: grayscale(0%); cursor: pointer;}
#synopsis2 .synopsistxt2{width: 62%; }
#synopsis2 h3{font-size: 4rem; margin-bottom: 20px; width: 100%;}
#synopsis2 p{width: 100%; font-family: 'IBM Plex Sans KR', sans-serif;}

#scissor .edward{margin-top: 50px; width: 100%; display: flex; flex-direction: row-reverse;
    flex-wrap: wrap; justify-content: space-between;
}
.edward h1{width: 100%; text-align: right;}
.edward> h1:first-of-type{font-size: 4rem; margin-bottom: 20px;}
.edward> h1:last-of-type{border: 2px solid #e2e2e2; text-align: center; padding: 5px;}
.edward img{width: 39%; margin-top: 30px;}
.edward p{width: 60%; align-self: flex-end; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}

#scissor .fam{width: 100%; display: flex; justify-content: space-between; margin-top: 50px;}
.fam .kim{ width: 49%; display: flex; flex-wrap: wrap; justify-content: center;
}
.kim h1{width: 100%; margin-bottom: 20px; border: 2px solid #e2e2e2; 
    text-align: center; padding: 2px; }
.kim img{width: 90%; margin-top: 10px;}
.kim p{width: 90%; margin-top: 10px; text-align: center; font-size: 1rem;
    font-family: 'IBM Plex Sans KR', sans-serif;}

.fam .peg{width: 49%; display: flex; flex-wrap: wrap;
    justify-content: center;
}
.peg h1{width: 100%; margin-bottom: 20px; border: 2px solid #e2e2e2; 
    text-align: center; padding: 5px; }
.peg img{width: 90%; margin-top: 10px;}
.peg p{width: 90%; margin-top: 10px; text-align: center; font-size: 1rem;
    font-family: 'IBM Plex Sans KR', sans-serif;}



#section3 #christmas{width: 100%; height: auto; margin-top: 150px;
}
#christmas #rtwrap{width: 100%; display: flex; justify-content: center;}
#rtwrap .rotate{width: 5%; position: relative; height: 100px; }
.rotate> .face{position: absolute; top: 0; right: 0; backface-visibility: hidden;
    font-size: 4rem; transition: all 1s;
}
.rotate .front{z-index: 2;}
.rotate .back{transform: rotateY(-180deg); color: #cfcece; z-index: 1;}
.rotate:hover .front{transform: rotateY(180deg); z-index: 1;}
.rotate:hover .back{transform: rotateY(0deg); z-index: 2;}
#christmas> h1{font-size: 8rem; text-align: center; }
#christmas> h1 small{font-size: 4rem; display: block; }
#christmas> img{margin-top: 30px; }
#christmas> p{width: 100%; margin-top: 30px; }
#christmas> h3{font-size: 4rem; width: 100%; margin-top: 50px;}
#christmas> p{width: 67%; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}

#christmas> #synopsis3{width: 100%; margin-top: 50px; display: flex; flex-wrap: wrap;
    justify-content: space-between; font-size: 1rem;
}
#synopsis3 h3{font-size: 4rem; margin-bottom: 20px; width: 100%;}
#synopsis3 p{width: 68%; font-family: 'IBM Plex Sans KR', sans-serif;}

#christmas #cjs{width: 100%; margin-top: 50px; display: flex; flex-wrap: wrap;} 
#cjs h3{font-size: 4rem; margin-bottom: 20px; width: 100%; text-align: right;}
#cjs .jasl{width: 100%; display: flex; justify-content: space-between; align-items: center; }
.jasl .sally{width: 27%; text-align: center; border: 2px solid #e2e2e2; padding: 10px;}
.sally h2{font-size: 4vh; width: 100%; font-size: 2rem;}
.sally p{margin-top: 20px; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}

.jasl .jsimg{ width: 50%; position: relative; display: flex;}
.jasl img{width: 75%; margin: 0 auto;}
.jasl img:first-of-type{width: 18%; z-index: 1; position: absolute; top: 15%; left: 2%;}
.jasl img:last-of-type{width: 23%; z-index: 2; position: absolute; top: 0; right: 3%;}

.stzr{width: 100%; display: flex; justify-content: space-between; margin-top: 50px;}

.stzr .dbwrap{width: 55%; display: flex; flex-wrap: wrap; justify-content: space-between;
    padding: 20px; border: 2px solid #e2e2e2; border-radius: 300px; align-items: center;
}
.dbwrap .duck{width: 44%; height: 65%; padding: 10px; text-align: center; margin-left: 10px;}
.dbwrap .duck img{width: 100%; border-radius: 30px; margin: 0 auto;}
.dbwrap .duck h1{padding: 10px; font-size: 2rem;}
.dbwrap .duck p{padding: 10px; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}

.dbwrap .boogie{width: 49.5%; height: 60%; padding: 10px; 
    text-align: center; 
    /* align-self: flex-end;  */
}
.dbwrap .boogie img{width: 100%; border-radius: 30px; margin: 0 auto;}
.dbwrap .boogie h1{padding: 10px; font-size: 2rem;}
.dbwrap .boogie p{padding: 10px; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}

.stzr .zero{width: 33%; padding: 10px; border: 2px solid #e2e2e2; text-align: center;}
.stzr .zero img{width: 100%; border-radius: 30px;}
.stzr .zero h1{padding: 10px; font-size: 2rem;}
.stzr .zero p{padding: 10px; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}



#section3 #big{width: 100%; height: auto; margin-top: 150px; }

#big> h1{font-size: 10rem; text-align: right;}
#big> h1 small{font-size: 4rem;}

#big .bigtxt{width: 100%; margin-top: 50px; text-align: center;}
.bigtxt h3{font-size: 4vh; font-size: 2rem;}
.bigtxt> p{width: 100%; margin-top: 50px; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}

#big > h3{font-size: 4rem; margin-top: 50px;}
#big > h3:nth-of-type(2){text-align: center; margin-top: 100px;}

#big .fs{width: 100%; display: flex; justify-content: space-between; margin-top: 50px;
}

.fs .mainc{width: 45%;}
.fs .edward2{width: 100%; display: flex; flex-wrap: wrap; border-right: 2px solid #e2e2e2;
    border-left: 2px solid #e2e2e2; justify-content: center;
}
.edward2 .line4{width: 100%; display: flex; justify-content: space-between; align-items: center;
    font-size: 1.5rem;
}
.edward2 .line4 span:first-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.edward2 .line4 span:nth-of-type(2){font-size: 1.5rem; text-align: center;}
.edward2 .line4 span:last-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.edward2 p{text-align: center; width: 100%; margin-top: 10px; font-size: 1rem; 
    font-family: 'IBM Plex Sans KR', sans-serif;}
.edward2 img{width: 90%; margin: 30px 0 50px; }


.fs .sandra{width: 100%; display: flex; flex-wrap: wrap; align-self: flex-end; 
    border-right: 2px solid #e2e2e2; border-left: 2px solid #e2e2e2;
    justify-content: center;
}
.sandra .line5{width: 100%; display: flex; justify-content: space-between; align-items: center;
    font-size: 1.5rem;
}
.sandra .line5 span:first-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.sandra .line5 span:nth-of-type(2){font-size: 1.5rem; text-align: center;}
.sandra .line5 span:last-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.sandra p{text-align: center; width: 100%; margin-top: 10px; font-size: 1rem;
    font-family: 'IBM Plex Sans KR', sans-serif;}
.sandra img{width: 90%; margin-top: 30px; }

.fs .subc{width: 45%; 
    border-right: 2px solid #e2e2e2; border-left: 2px solid #e2e2e2;}
.fs .witch{width: 100%; display: flex; flex-wrap: wrap; align-self: flex-end; 
    justify-content: center;
}
.witch .line6{width: 100%; display: flex; justify-content: space-between; align-items: center;
    font-size: 1.5rem;
}
.witch .line6 span:first-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.witch .line6 span:nth-of-type(2){font-size: 1.5rem; text-align: center;}
.witch .line6 span:last-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.witch img{width: 90%; margin: 30px 0 70px;}

.fs .giant{width: 100%; display: flex; flex-wrap: wrap; align-self: flex-end; 
    justify-content: center;
}
.giant .line7{width: 100%; display: flex; justify-content: space-between; align-items: center;
    font-size: 1.5rem;
}
.giant .line7 span:first-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.giant .line7 span:nth-of-type(2){font-size: 1.5rem; text-align: center;}
.giant .line7 span:last-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.giant img{width: 80%; margin-top: 30px; }

#big .place{width: 100%; display: flex; justify-content: center; margin-top: 50px;}
.place .plcwrap{width: 80%; border-right: 2px solid #e2e2e2; border-left: 2px solid #e2e2e2;}

.plcwrap .flower{width: 100%; display: flex; flex-wrap: wrap; align-self: flex-end; 
    justify-content: center; 
}
.flower .line8{width: 100%; display: flex; justify-content: space-between; align-items: center;
    font-size: 1.5rem;
}
.flower .line8 span:first-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.flower .line8 span:nth-of-type(2){font-size: 1.5rem; text-align: center;}
.flower .line8 span:last-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.flower img{width: 90%; margin: 30px 0 50px;}

.plcwrap .water{width: 100%; display: flex; flex-wrap: wrap; align-self: flex-end; 
    justify-content: center;
}
.water .line9{width: 100%; display: flex; justify-content: space-between; align-items: center;
    font-size: 1.5rem;
}
.water .line9 span:first-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.water .line9 span:nth-of-type(2){font-size: 1.5rem; text-align: center;}
.water .line9 span:last-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.water img{width: 90%; margin: 30px 0 50px; }

.plcwrap .ghostt{width: 100%; display: flex; flex-wrap: wrap; align-self: flex-end;
    justify-content: center;
}
.ghostt .line10{width: 100%; display: flex; justify-content: space-between; align-items: center;
    font-size: 1.5rem;
}
.ghostt .line10 span:first-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.ghostt .line10 span:nth-of-type(2){font-size: 1.5rem; text-align: center;}
.ghostt .line10 span:last-of-type{width: 35%; height: 2px; background: #e2e2e2;}
.ghostt img{width: 70%; margin-top: 30px;}




#section3 #charlie{width: 100%; height: auto; margin-top: 150px; }
#charlie> h1{font-size: 7.8rem; text-align: right; width: 100%; display: flex;}
#charlie> h1 small{font-size: 4rem; align-self: flex-end;}

#charlie> #synopsis4{width: 100%; margin-top: 50px; display: flex; flex-wrap: wrap;
    justify-content: space-between; font-size: 1rem;
}
#synopsis4 img{width: 37%; height: auto; filter: grayscale(90%); transition: all 1s;}
#synopsis4 img:hover{filter: grayscale(0%); cursor: pointer;}
#synopsis4 .synopsistxt2{width: 62%; }
#synopsis4 h3{font-size: 4rem; margin-bottom: 20px; width: 100%;}
#synopsis4 p{width: 95%; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}

#charlie > h3{font-size: 4rem; margin: 100px 0 50px; width: 100%; text-align: right;}
#charlie .chocolate{width: 100%; display: flex; align-content: center; flex-wrap: wrap;
}

.chocolate #fcl{width: 100%; display: flex; justify-content: space-between;
    align-content: center; flex-wrap: wrap; position: relative;}
#fcl > img:first-of-type{width: 100%; position: absolute; z-index: 2;}
.chocolate #scl{width: 100%; display: flex; justify-content: space-between;
    align-content: center; flex-wrap: wrap;}

#fcl > div{width: 30%; border: 2px solid #e2e2e2; display: flex;
    flex-wrap: wrap; justify-content: center; padding: 20px; position: relative;
}
#fcl > div > h2{width: 100%; text-align: center;}
#fcl > div > img{width: 80%;}
#fcl > div p{font-size: 1.2rem; width: 97%; margin-top: 15px; text-align: center;
    font-family: 'IBM Plex Sans KR', sans-serif;}
#fcl > div:first-of-type p{font-size: 1.1rem; }
#fcl > div:first-of-type h2{position: absolute; top: 55%; }

#scl > div{width: 30%; border: 2px solid #e2e2e2; display: flex;
    flex-wrap: wrap; justify-content: center; margin-top: 50px; padding: 20px;
}
#scl > div > h2{width: 100%; text-align: center;}
#scl > div > img{width: 80%;}
#scl > div p{font-size: 1.2rem; margin-top: 15px; text-align: center; 
    font-family: 'IBM Plex Sans KR', sans-serif;}

.chocolate > div:last-child{width: 100%; display: flex; flex-wrap: wrap; margin-top: 50px;
    border: 2px solid #e2e2e2; justify-content: center;
}
.chocolate > div:last-child h3{width: 100%; text-align: center; margin: 20px 0;}
.chocolate > div:last-child img{width: 80%; margin: 0px 0 50px;}




#section3 #bride{width: 100%; height: auto; margin-top: 150px; }
#bride> h1{font-size: 10rem; width: 100%;}
#bride> h1 small{font-size: 4rem;}
#bride> p{margin-top: 50px; font-size: 1rem; width: 84%; font-family: 'IBM Plex Sans KR', sans-serif;}
#bride> h3{font-size: 4rem; margin: 50px 0 30px;}

#bride> #synopsis5{width: 100%; margin-top: 50px; display: flex; flex-wrap: wrap;
    justify-content: space-between; font-size: 1rem;
}
#synopsis5 img{width: 37%; height: auto; filter: grayscale(90%); transition: all 1s;}
#synopsis5 img:hover{filter: grayscale(0%); cursor: pointer;}
#synopsis5 .synopsistxt2{width: 62%; }
#synopsis5 h3{font-size: 4rem; margin-bottom: 20px; width: 100%;}
#synopsis5 p{width: 80%; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}

#bride .gstmain{width: 100%; display: flex; flex-wrap: wrap; 
    justify-content: space-between;}
.gstmain .victor{width: 50%; position: relative; display: flex; }
.victor img:first-of-type{border-radius: 130px; width: 50%;}
.victor img:last-of-type{position: absolute; bottom: -11%; left: 35%; width: 25%;}
.victor div{width: 40%; border: 2px solid #e2e2e2; padding: 15px; border-radius: 30px;
    height: 60%; text-align: center; position: absolute; top: 20%; right: 5%;
}
.gsttxt> h2{font-size: 1.5rem;}
.gsttxt> p{font-size: 1rem; margin-top: 10px; font-family: 'IBM Plex Sans KR', sans-serif;}

.gstmain .emily{width: 50%; position: relative; display: flex; }
.emily div{width: 40%; border: 2px solid #e2e2e2; padding: 15px; border-radius: 30px;
    height: 100%; text-align: center; position: absolute; 
}
.emily img:first-of-type{border-radius: 130px; width: 50%; position: absolute; 
    bottom: 0%; right: 0;}
.emily img:last-of-type{position: absolute; top: -10%; right: 33%; width: 25%;}

#bride .gstsub{width: 100%; display: flex; flex-wrap: wrap; margin-top: 150px;
    justify-content: space-between;}
.gstsub .victorfam{ width: 47%; position: relative; display: flex; 
    justify-content: space-between;
} 
.victorfam div{width: 30%; border: 2px solid #e2e2e2; padding: 15px; 
    border-radius: 30px; text-align: center; }
.victorfam img:first-of-type{ width: 50%; border-radius: 130px; }
.victorfam img:last-of-type{width: 20%; position: absolute; left: 30%; top: 50%;} 

.gstsub .victoria{width: 47%; position: relative; display: flex; 
    justify-content: space-between;
} 
.victoria div{width: 40%; border: 2px solid #e2e2e2; padding: 15px; position: absolute;
    border-radius: 30px; text-align: center; right: 0; bottom: -70%;}
.victoria img:first-of-type{ width: 45%; border-radius: 130px; position: absolute;
    top: -50%;
}
.victoria img:last-of-type{width: 18%; position: absolute; top: 50%; left: 40%;}

#bride .victoriafam{width: 100%; position: relative; display: flex; margin-top: 100px; } 
.victoriafam div{width: 20%; border: 2px solid #e2e2e2; padding: 15px; border-radius: 30px; 
    text-align: center; position: absolute; left: 33%; margin-top: 3%;}
.victoriafam img:first-of-type{ width: 25%; border-radius: 130px; position: absolute;
    right: 20%;
}
.victoriafam img:last-of-type{width: 12%; position: absolute; right: 40%; 
    margin-top: 15%;
}



#section3 #weenie{width: 100%; height: auto; margin-top: 500px; }
#weenie> h1{font-size: 9rem; width: 100%;}
#weenie> h1 small{font-size: 4rem;}
#weenie> p{font-size: 1rem; width: 84%; font-family: 'IBM Plex Sans KR', sans-serif;}
#weenie > h3{font-size: 4rem; margin-top: 70px; width: 100%; text-align: right;}

#weenie> #synopsis6{width: 100%; margin-top: 50px; display: flex; flex-wrap: wrap;
    justify-content: space-between; font-size: 1rem;
}
#synopsis6 h3{font-size: 4rem; margin-bottom: 20px; width: 100%;}
#synopsis6 p{width: 78.5%; font-size: 1rem; font-family: 'IBM Plex Sans KR', sans-serif;}

#weenie .weeniecha{width: 100%; margin-top: 50px; display: flex; flex-wrap: wrap;
    justify-content: space-between;}
.weeniecha .vicfranken{width: 38%; display: flex; position: relative;}
.vicfranken img{width: 50%; box-shadow: 4px 3px 0 #333; z-index: 3;}
.vicfranken .wntxt{width: 50%; height: 100%; padding: 20px; background: #504f4f; position: absolute;
    transition: 1.5s ease-in-out; top: 0;  left: 0;
}
.vicfranken:hover{ cursor: pointer;}
.vicfranken:hover .wntxt{transform: translateX(100%);}
.wntxt > h2{font-size: 1.3rem;}
.wntxt > p{font-size: 1rem; margin-top: 20px;}

.weeniecha .elsa{width: 19%; position: relative;}
.elsa img{width: 100%; box-shadow: 4px 3px 0 #333; z-index: 3; position: absolute;}
.elsa .wntxt{width: 100%; height: 100%; padding: 20px; background: #504f4f; position: absolute;
    transition: 1.5s ease-in-out; top: 0%;  left: 0;
}
.elsa:hover{ cursor: pointer;}
.elsa:hover .wntxt{transform: translateY(100%);}

#weenie .weirdwrap{width: 100%; margin-top: 50px; display: flex; 
    justify-content: space-evenly;}
.weirdwrap .weird{width: 38%; display: flex; position: relative;}
.weird img{width: 50%; box-shadow: 4px 3px 0 #333; z-index: 3;}
.weird .wntxt{width: 50%; height: 100%; padding: 20px; background: #504f4f; position: absolute;
    transition: 1.5s ease-in-out; top: 0;  left: 0;
}
.weird:hover{ cursor: pointer;}
.weird:hover .wntxt{transform: translateX(100%);}



#section3 #miss{width: 100%; height: auto; margin: 100px 0 100px; }
#miss> h1{font-size: 9rem; width: 100%;}
#miss> h1 small{font-size: 4rem;}
#miss> p{font-size: 1rem; width: 100%; text-align: center; font-family: 'IBM Plex Sans KR', sans-serif;}

#section3 .missfirst{width: 100%; display: flex; justify-content: space-between;
    margin: 100px 0 50px; }
.missfirst .jake{width: 40%; position: relative; border: 7px double #e2e2e2; 
    padding: 10px; box-shadow: 2px 2px 10px #333;
}
.missfirst .jake img{width: 100%; height: 100%;}
.misstxt{position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    padding: 10px; display: flex; flex-wrap: wrap;
}
.misstxt h2{width: 100%; text-align: center; }
.misstxt p{align-self: flex-end; font-size: 1rem; padding: 0 35px 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;}

.missfirst .peregrine{width: 40%; position: relative; border: 7px double #e2e2e2; 
    padding: 10px; box-shadow: 2px 2px 10px #333;
}
.peregrine img{width: 100%; height: 100%;}


#section3 .misssecond{width: 100%; display: flex; justify-content: space-around;
    margin: 100px 0 50px; }
.misssecond .emma{width: 40%; position: relative; border: 7px double #e2e2e2; 
    padding: 10px; box-shadow: 2px 2px 10px #333;
}
.emma img{width: 100%; height: 100%;}

.misssecond .twin{width: 40%; position: relative; border: 7px double #e2e2e2; 
    padding: 10px; box-shadow: 2px 2px 10px #333;
}
.twin img{width: 100%; height: 100%;}


#section3 .missthird{width: 100%; display: flex; justify-content: space-between;
    margin: 100px 0 50px; }

.missthird .olive{width: 30%; position: relative; border: 7px double #e2e2e2; 
    padding: 10px; box-shadow: 2px 2px 10px #333;
}
.olive img{width: 100%; height: 100%;}

.missthird .millard{width: 30%; position: relative; border: 7px double #e2e2e2; 
    padding: 10px; box-shadow: 2px 2px 10px #333;
}
.millard img{width: 100%; height: 100%;}

.missthird .bronwyn{width: 30%; position: relative; border: 7px double #e2e2e2; 
    padding: 10px; box-shadow: 2px 2px 10px #333;
}
.bronwyn img{width: 100%; height: 100%;}

#section3 .missfour{width: 100%; display: flex; justify-content: center;
    margin: 100px 0 50px; }

.missfour .baron{width: 40%; position: relative; border: 7px double #e2e2e2; 
    padding: 10px; box-shadow: 2px 2px 10px #333;
}
.baron img{width: 100%; height: 100%;}



#section3 #wed{width: 100%; height: auto; margin: 0px 0 150px; text-align: center;}
#wed> h1{font-size: 9rem; width: 100%;}
#wed> h1 small{font-size: 4rem;}
#wed> p{font-size: 1rem; width: 100%; text-align: center; margin: 50px 0 100px;
    font-family: 'IBM Plex Sans KR', sans-serif;}

#wed > .wednesday{width: 100%; display: flex; justify-content: center;
    position: relative;
}
.wednesday img{ width: 70%; }
.wednesday > h2{position: absolute;}

#wed .wefirst{width: 100%; display: flex; justify-content: space-evenly;}
.wefirst .enid{width: 45%; position: relative;}
.enid img{width: 100%;} 
.enid h2{position: absolute; bottom: 50%;}

.wefirst .mom{width: 35%; position: relative;}
.mom img{width: 100%;} 
.mom h2{position: absolute; top: 0%; right: 0%; }


#wed .wesecond{width: 100%; display: flex; justify-content: space-between;}
.wesecond .thing{width: 30%; position: relative;}
.thing img{width: 100%;} 
.thing h2{position: absolute; bottom: 20%; right: 0;}

.wesecond .father{width: 35%; position: relative;}
.father img{width: 100%;} 
.father h2{position: absolute; top: 20%; left: 0%; }

.wesecond .brother{width: 25%; position: relative;}
.brother img{width: 100%;} 
.brother h2{position: absolute; bottom: 30%; right: 0%; }

#wed .wethird{width: 100%; display: flex; justify-content: space-around;}
.wethird .xavier{width: 40%; position: relative;}
.xavier img{width: 100%;} 
.xavier h2{position: absolute; bottom: 50%;}

.wethird .tyler{width: 35%; position: relative;}
.tyler img{width: 100%;} 
.tyler h2{position: absolute; top: 20%; right: 0%; }



#section4 {background-color: tomato; height: 960px;}